*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #493f48;
}
/*Nav*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #634d4a;
}
.logo{
    width: 100px;
}
nav ul li{
    display: inline;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #9c8399;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
/*containe*/
.container{
    padding: 10px 10%;
}
.container-big{
    padding: 60px 10%;
}
.container-home{
    padding: 10px 10%;
}
/*background sewer*/
.background-image {
    background-image: url('/Images/front-image.gif');
    background-size: cover; /* Make sure the background covers the whole div */
    background-position: center; /* Center the background image */
    height: 545px; /* Adjust the height as needed */
    width: 100%; /* Make sure it takes up the full width */
    position: relative; /* Ensure it stays in place */
}
/*Home stuff*/
.home-image{
    display: flex;
    flex-basis: 35%;
}
.img-text{
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    height: 100%;
    margin-left: 20px;
    
}
.img-text h1{
    width: 100%;
    height: 10%;
    text-decoration: underline;
    font-size: 45px;
    color: #000000;
    text-shadow: 1px 1px 2px white, 0 0 1em rgba(255, 255, 255, 0.201), 0 0 0.2em white;
}
.img-text p{
    width: 100%;
    height: 30%;
    font-size: 35px;
    color: white;
}
.home-image img{
    width: 30%;
    border-radius: 15px;
    border: ridge 15px rgb(192, 179, 179);
}
.home-text{
    flex-basis: 60%;
}
/*CARDS*/
.card-container {
    display: flex;
    justify-content: space-around; /* Distributes the cards evenly */
    gap: 20px; /* Adds space between the cards */
  }
  
  .card {
    width: 25%; /* Adjust this to control card size */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .card h4{
    color: white;
    text-decoration: underline;
    text-shadow: 1px 1px 1px #050505, 0 0 1em #ffffff, 0 0 0.2em #2e2c2d;
    font-size: 30px;
  }
  .card p{
    color: white;
    font-size: 20px;
  }
  
  .card img {
    width: 100%;
    height: 70%;
    border-bottom: 1px solid #ccc;
  }
  
  .container-of-card {
    padding: 10px;
  }
/* CARDS GLOW*/
.glow-on-hover {
    width: 150px;
    height: 20px;
    border: none;
    outline: none;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg,   #2d2d2d, #ffffff, #1b1b22, #313058);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2d2a2d;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/*--------------footer-------*/
footer{
    background-color: #634d4a;
}
footer h1{
    color: #fff;
    display: flex;
    justify-content: center;
}
.footer-container{
   width: 100%;
   padding: 70px 30px 20px; 
}
.footer-nav{
    margin: 30px 0;
}
.footer-nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.footer-nav ul li a{
    color: #fff;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
}
.footer-bottom{
 padding: 20px;
 justify-content: center;
}
.footer-bottom a{
    color: #634d4a;
}

@media (max-width: 1200px) {
    .card {
        width: 45%;
    }
}